body {
    min-width: 320px;
    background-color: var(--bg-main);
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
