@import 'app/styles/functions';

.root {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 3px;
    height: 25px;
    width: 25px;

    transition: transform .3s ease;

    span {
        width: 5px;
        height: 5px;
        display: inline-block;
        overflow: hidden;

        border-radius: 100%;

        background: var(--link-color-red);

        transition: opacity .2s ease;
    }

    &.is-opened {
        transform: rotate(45deg);

        span {
            &:nth-child(1),
            &:nth-child(3),
            &:nth-child(7),
            &:nth-child(9), {
                opacity: 0;
            }
        }
    }

    @media (width >= 1440px) {
        grid-gap: vw(3);
        height: vw(25);
        width: vw(25);

        span {
            width: vw(5);
            height: vw(5);
        }
    }
}