@import "app/styles/functions";
@import "app/styles/variables/global";

.root {
    position: relative;

    padding: 0 80px;
    height: var(--header-height);
    display: flex;
    align-items: center;

    background-color: var(--bg-header);

    @media (width >= 1440px) {
        padding: 0 vw(80);
        height: vw($header-height);
    }
}

.logo {
    margin-right: auto;
    display: inline-flex;
    align-items: center;

    font-size: var(--font-size-l);
    font-weight: var(--fw-light);

    svg {
        width: 40px;
        height: 40px;
        margin-right: 12px;
    }

    @media (width >= 1440px) {
        font-size: vw($font-size-l);

        svg {
            width: vw(40);
            height: vw(40);
            margin-right: vw(12);
        }
    }
}